@import 'jeet'
.spinning-arrow
  align(both)
  &--img
    transform-origin: 50% 50%;
    transition: transform 2s;
    height: 13vmin
    transition-timing-function: linear;
  &--img-touch-up
    transition: transform 2s;
    transition-timing-function: cubic-bezier(0, 0, 0.3, 1);

