@import "jeet"
@import url('https://fonts.googleapis.com/css?family=Dosis:300');
.app
  align(both)
  width:100vmin
  height:100vmin
  background:url("https://d2bd4hfewq4seu.cloudfront.net/images/unicorn2.png")
  background-size contain
  background-repeat no-repeat

  &-headline
    color white
    font-family: 'Dosis', sans-serif
    text-align center


