@import "jeet"
.app
  align(both)
  width:100vmin
  height:100vmin
  background:url("https://d2bd4hfewq4seu.cloudfront.net/images/unicorn2.png")
  background-size contain
  background-repeat no-repeat

